@{
    ViewData["Title"] = "Results";
}

@model User



<div class="justify-content-center">

    <h1>Submitted Info</h1>


    <p>Name: @Model.Name</p>


    <p>Dojo Location: @Model.Location</p>


    <p>Favorite Language: @Model.FavoriteLanguage</p>


    <p>Comment(optional): @Model.Comment</p>

    <a href="/" class="btn btn-primary">Go back</a>

</div>

