<div class="d-flex justify-content-around">
    <div class="row row-cols-lg-auto g-3 align-items-center">
        <h4>Artstagram</h4>
        <a asp-action="MakeAPost" asp-controller="Post">Add a post</a>
    </div>
    <div>
        <form asp-action="Logout" asp-controller="Home">
            <a href="#" onclick="this.parentNode.submit();">Logout</a>
        </form>
    </div>
</div>

<hr>