<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Bonus Playground</title>
</head>
<body>
    <h1 style="display: flex; justify-content: center;">Welcome!</h1>
    <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
        <div style="width: 200px; height: 200px; background-color: skyblue; border: 5px solid black; margin: 25px;"></div>
    </div>
</body>
</html>