@{
    ViewData["Title"] = "Add a Dish";
}

<div class="text-center">
    <a asp-action="Chefs" asp-controller="Home">Chefs</a> |
    <a asp-action="Dishes" asp-controller="Home">Dishes</a> |
    <a asp-action="AddAChef" asp-controller="Home">Add a Chef</a> |
    Add a Dish
</div>

<div class="text-center">
    <h1>Add a dish</h1>
</div>

<hr>