@{
    ViewData["Title"] = "Add a Dish";
}
@model Dish

<div class="text-center">
    <a asp-action="Chefs" asp-controller="Home">Chefs</a> |
    <a asp-action="Dishes" asp-controller="Home">Dishes</a> |
    <a asp-action="AddAChef" asp-controller="Home">Add a Chef</a> |
    Add a Dish
</div>

<div class="text-center">
    <h1>Add a dish</h1>
</div>

<hr>

<form asp-action="CreateADish" asp-controller="Home">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Calories"></label>
        <input asp-for="Calories">
        <span asp-validation-for="Calories" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ChefId"></label>
        <select asp-for="ChefId">
            @foreach (Chef chef in ViewBag.chefs)
            {
                <option value="@chef.ChefId">@chef.FirstName @chef.LastName</option>
            }
        </select>
        <span asp-validation-for="ChefId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Tastiness"></label>
        <select asp-for="Tastiness">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span asp-validation-for="Tastiness" class="text-danger"></span>
    </div>

    <button class="btn btn-success">Add Dish</button>
</form>