@{
    ViewData["Title"] = "Dishes";
}


<div class="text-center">
    <a asp-action="Chefs" asp-controller="Home">Chefs</a> |
    Dishes |
    <a asp-action="AddAChef" asp-controller="Home">Add a Chef</a> |
    <a asp-action="AddADish" asp-controller="Home">Add a Dish</a>
</div>

<div class="text-center">
    <h1>Yum! Check out our tasty dishes!</h1>
</div>

<hr>